/* line 1, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
body {
  display: inline-block;
  min-width: 100%;
  overflow: auto;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

/* line 12, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header {
  min-width: 1000px;
  overflow: auto;
  background-color: #222;
}

/* line 18, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header .logo {
  float: left;
  padding: 9px;
  margin: 9px;
  box-sizing: border-box;
  border: 2px solid #2ff;
  color: #fff;
}

/* line 27, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header .logo a {
  font-size: 20px;
}

/* line 30, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header nav {
  float: left;
}

/* line 33, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #user {
  float: right;
}

/* line 36, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header li {
  display: inline-block;
}

/* line 39, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  display: inline-block;
}

/* line 48, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
nav li a {
  padding: 20px;
}

/* line 52, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.cont {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

/* line 57, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.cont .inner {
  min-height: 500px;
  background-color: #fff;
}

/* line 61, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner {
  display: table;
  width: 100%;
}

/* line 65, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left,
.inner .right {
  display: table-cell;
}

/* line 69, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left {
  width: 30%;
  background-color: #333;
  height: 1px;
}

/* line 74, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .wrap {
  margin: 20px;
  height: calc( 100% - 40px);
}

/* line 78, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left img {
  box-sizing: border-box;
  border: 3px solid #2ff;
  width: 100%;
}

/* line 83, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .karma {
  text-align: center;
  color: #eee;
  font-weight: 100;
  padding: 15px;
  position: relative;
  border: 4px solid #2ff;
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  line-height: 130px;
}

/* line 97, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .karma .points {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #2ff;
  font-weight: 600;
  font-size: 27px;
}

/* line 106, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  height: calc(100% - 440px);
}

/* line 112, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends h4 {
  margin-bottom: 8px;
}

/* line 115, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends #amount {
  font-weight: 100;
  color: #ddd;
}

/* line 119, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends .ul_wrap {
  height: 500px;
  overflow: auto;
}

/* line 123, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends li {
  list-style-type: none;
  padding: 10px 0;
  font-weight: 100;
  vertical-align: top;
  transition: background .5s;
  padding: 5px;
  margin-bottom: 5px;
}

/* line 132, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 135, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends a {
  text-decoration: none;
  color: #fff;
}

/* line 139, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .left .friends img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

/* line 145, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right {
  vertical-align: top;
}

/* line 148, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .wrap {
  margin: 20px;
}

/* line 151, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .contact {
  margin-top: 7px;
}

/* line 154, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .contact a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  font-weight: 100;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 2px;
}

/* line 163, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .sect:not(:first-of-type) {
  margin-top: 19px;
}

/* line 166, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .courses {
  margin-top: 20px;
}

/* line 169, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .courses .show_all {
  width: 100px;
  padding: 20px;
  margin: 15px auto;
  background-color: #333;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

/* line 179, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .courses h3 {
  font-weight: 600;
}

/* line 182, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .courses .course {
  background-color: #eee;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 5px;
}

/* line 188, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner .right .courses .course:first-of-type {
  margin-top: 20px;
}

/* line 193, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login {
  color: #fff;
  float: right;
  padding: 17px;
}

/* line 198, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login label {
  font-weight: 100;
  color: #ddd;
  margin-right: 5px;
}

/* line 203, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login input {
  font-weight: 100;
  margin-left: 5px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 300;
  letter-spacing: .4px;
}

/* line 215, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login input:active,
header #login input:focus {
  background-color: #fff;
  color: #000;
}

/* line 220, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login input[type='submit'] {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  padding: 10px;
}

/* line 226, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.cont {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

/* line 231, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.cont .inner {
  min-height: 500px;
  background-color: #fff;
}

/* line 235, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.inner {
  display: table;
  width: 100%;
}

/* line 239, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero {
  background-color: #222;
  height: 564px;
  position: relative;
}

/* line 244, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .right {
  /* border-left: 1px solid #333; */
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(0%, -50%);
}

/* line 254, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .right .signupPrompt {
  background-color: #111;
  padding: 20px;
  text-align: center;
  color: #fff;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* line 265, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .right:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top, #22ffff 0%, #22ffff 29%, #333333 80%);
}

/* line 274, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .right form {
  width: 400px;
  margin: auto;
  color: #fff;
  overflow: auto;
  padding: 20px;
  margin-top: 50px;
}

/* line 282, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .right form input[type='submit'] {
  font-size: 15px;
  padding: 20px;
  border: none;
  cursor: pointer;
  background-color: #2ff;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  width: 200px;
}

/* line 293, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .right form > label {
  display: block;
  padding: 9px 5px;
  margin: 10px 0;
  position: relative;
}

/* line 299, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .right form > label input {
  font-size: 18px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  padding: 8px;
}

/* line 308, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .circle,
.hero .bord {
  transition: top .3s;
}

/* line 312, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .circle {
  z-index: 1;
  border: 5px solid #2ff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 200px;
  background-color: #000;
  border-radius: 1000px;
  color: #2ff;
  font-size: 1.6rem;
  box-shadow: 0 0 50px rgba(34, 255, 255, 0.8);
}

/* line 329, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .circle .msg::after {
  content: '';
  display: inline-block;
  width: 2px;
  background-color: #2ff;
  height: 30px;
  animation: blink .4s infinite alternate;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

/* line 340, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.center {
  text-align: center;
}

/* line 343, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hide {
  display: none;
}

/* line 346, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.bord {
  animation: rotate 20s infinite linear;
  height: 300px;
  padding: 20px;
  position: absolute;
  width: 40px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* line 357, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.bord .cir {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 240px;
  background-color: #2ff;
  border-radius: 1000px;
}

/* line 367, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header {
  border-bottom: 1px solid #191919;
}

/* line 370, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .left {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 60px;
}

/* line 377, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .left h1 {
  color: #fff;
}

/* line 380, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .left h4 {
  color: #2ff;
  font-weight: 400;
  margin-top: 30px;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 403, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.cont {
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
  padding: 40px;
  padding-top: 150px;
  min-height: 400px;
  margin-bottom: 100px;
}

/* line 413, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.features .feature .img {
  height: 200px;
  width: 200px;
  background-color: #ddd;
  float: left;
}

/* line 420, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.feature {
  overflow: auto;
}

/* line 424, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.feature {
  margin: 30px 0;
}

/* line 428, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.feature:first-of-type {
  margin-top: 0;
}

/* line 431, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.features .feature:nth-child(even) .img {
  float: right;
}

/* line 435, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.features .feature .desc {
  float: right;
  width: 700px;
  margin-top: 50px;
}

/* line 443, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 447, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.abs_center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/* line 453, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
body {
  display: inline-block;
  min-width: 100%;
  overflow: auto;
  background-color: #E4E4E4;
  font-family: 'Open Sans', sans-serif;
}

/* Header start */
/* line 463, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header {
  min-width: 1000px;
  overflow: auto;
  background-color: #222;
}

/* line 468, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header .logo {
  float: left;
  padding: 9px;
  margin: 9px;
  box-sizing: border-box;
  border: 2px solid #2ff;
  color: #fff;
}

/* line 476, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login {
  color: #fff;
  float: right;
  padding: 17px;
}

/* line 481, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login label {
  font-weight: 100;
  color: #ddd;
  margin-right: 5px;
}

/* line 486, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login input {
  font-weight: 100;
  margin-left: 5px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 300;
  letter-spacing: .4px;
}

/* line 498, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login input:active,
header #login input:focus {
  background-color: #fff;
  color: #000;
}

/* line 503, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
header #login input[type='submit'] {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  padding: 10px;
}

/* Header end */
/* line 511, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero {
  height: 464px;
  background-color: #1A1F27;
  position: relative;
}

/* line 517, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero h3 .color {
  color: #2ff;
}

/* line 520, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero h3 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  width: 700px;
  text-align: center;
}

/* line 532, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .search {
  color: #fff;
  padding: 29px;
  background-color: #333;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 720px;
  transform: translate(-50%, -50%);
}

/* line 543, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero .search select {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

/* line 552, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero #online_only {
  color: #fff;
  margin: 0 10px;
}

/* line 557, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hero #online_only input {
  position: relative;
  top: -2px;
}

/* line 562, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
span.mySelect {
  position: relative;
  cursor: pointer;
  margin: 0 7px;
  color: #2ff;
  border-bottom: 1px dashed #ddd;
}

/* line 570, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hover_menu {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  display: none;
}

/* line 583, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hover_menu > div {
  white-space: nowrap;
  padding: 6px;
}

/* line 588, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.hover_menu > div:hover {
  background-color: #333;
}

/* line 592, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.search select[name='distance'] {
  margin-left: 10px;
}

/* line 596, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.search input[type='text'] {
  padding: 8px;
  font-size: 15px;
  outline-color: #2ff;
  margin: 0 10px;
}

/* line 602, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.search input[type='submit'] {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #299;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
}

/* line 612, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.cont {
  width: 1080px;
  margin: auto;
}

/* line 616, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.events {
  font-size: 0;
  border-top: 2px solid #2ff;
  margin-top: 100px;
}

/* line 622, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event {
  overflow: hidden;
  display: inline-block;
  width: 291px;
  margin: 20px;
  border: 1px solid #ddd;
  height: 300px;
  color: #fff;
  background-color: #fff;
  position: relative;
}

/* line 633, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event > * {
  position: relative;
  z-index: 2;
  font-size: 1rem;
}

/* line 638, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event .img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  z-index: 0;
}

/* line 647, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event .desc {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  text-overflow: ellipsis;
  max-height: 140px;
  overflow: hidden;
}

/* line 654, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event .title {
  margin-top: 245px;
  padding: 10px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 22px;
  transition: margin .5s;
}

/* line 666, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event:hover .title {
  margin-top: 135px;
}

/* line 670, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event .rooms {
  background-color: rgba(0, 0, 0, 0.4);
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  border-radius: 1000px;
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .4s,opacity .4s;
}

/* line 686, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.event:hover .rooms {
  transform: translate(-50%, -50%) scale(1.5, 1.5);
  opacity: 0;
  background-color: #2ff;
}

/* line 692, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.pagination {
  text-align: center;
}

/* line 696, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.pagination li {
  display: inline-block;
  padding: 10px;
  margin: 15px;
}

/* line 703, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.pagination li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 708, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
.pagination li.active {
  display: inline-block;
  padding: 10px;
  margin: 15px;
  background-color: #fff;
  border: 1px solid #2ff;
}

/* line 715, /Users/wayne/Desktop/learntocode/app/assets/stylesheets/custom.scss */
input.search_bar {
  position: absolute;
  left: 50%;
  top: 310px;
  font-size: 1.4rem;
  transform: translateX(-50%);
  font-weight: 1fs00;
  padding: 10px;
  width: 290px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #2ff;
  color: #fff;
  outline: none;
}

/* --- Notification Box --- */
/*.notification_box {
    display: none;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.notification_box .user {
    padding: 9px;
    margin: 11px;
    border-radius: 3px;
    overflow: auto;
    border: 1px solid #aaa;
    line-height: 35px;
}

.notification_box .img {
    height: 35px;
    width: 35px;
    background-color: #000;
    overflow: hidden;
}

.notification_box .name a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.notification_box .name {
    margin-left: 6px;
}

.notification_box .img,
.notification_box .name {
    float: left;
}

.notification_box .btns input {
    background-color: #F55F4E;
    padding: 8px 9px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    color: #fff;
}

.notification_box .btns > div:last-of-type input {
    background-color: #DEDEDE;
    color: #000;
}

.notification_box .btns {
    margin-right: 6px;
    float: right;
}

.notification_box .btns > div {
    display: inline-block;
}



*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

