<div class="conta">
  <div class="hero_meet">
    <div class="title"><%= @group.event.title %></div>
  </div>
  <div class="main lobby_show">
    <div class="left">
      <h3>Lobby Title</h3>
      <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deleniti esse saepe sint veritatis non. Optio vel in quo, sint cupiditate accusamus id, voluptatibus quia voluptatum perferendis! Beatae, vel quaerat!</p>
      <div class="people_going">
        <h4>People Going <span class="amount">(3)</span></h4>
        <div class="people">

          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>
          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>
          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>
          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>

        </div>
      </div>
      <div class="comment_sect">
        <div class="input_sect">
          <textarea rows="4" cols="100">Leave a comment</textarea>
          <input type="submit" />
        </div>
        <div class="comments">
          <div class="comment">
            <div class="user">techsin</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut expedita iure animi repudiandae. Voluptas, rerum in repellendus, cum, labore deserunt, recusandae doloribus amet error itaque architecto exercitationem ratione delectus ipsa.</div>
            <div class="time">3 days ago</div>
          </div>
        </div>
        <div class="showMore">
          Show More
        </div>
      </div>
    </div>
    <div class="right">
      <div class="btn join">Join Room</div>
            <div class="btn invite">Invite Someone</div>
    </div>
  </div>

</div>