
<div class="conta">
  <div class="hero_meet">
    <div class="title"><%= @group.event.title %></div>
  </div>
  <div class="main lobby_show">
    <div class="left">
      <h3><%= @group.title %></h3>
      <p class="desc"><%= @group.desc.html_safe %></p>
      <div class="people_going">
        <h4>People Going <span class="amount"><%= @group.users.count %></span></h4>
        <div class="people">

          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>
          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>
          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>
          <div class="person">
            <a href="#">
              <img src="" />
              <div class="name">Umer</div>
            </a>
          </div>

        </div>
      </div>
      <div class="comment_sect">
        <div class="input_sect">
          <textarea rows="4" cols="100">Leave a comment</textarea>
          <input type="submit" />
        </div>
        <div class="comments">
          <div class="comment">
            <div class="user">techsin</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut expedita iure animi repudiandae. Voluptas, rerum in repellendus, cum, labore deserunt, recusandae doloribus amet error itaque architecto exercitationem ratione delectus ipsa.</div>
            <div class="time">3 days ago</div>
          </div>
        </div>
        <div class="showMore">
          Show More
        </div>
      </div>
    </div>
    <div class="right">
      <div class="btn join">Join Room</div>
            <div class="btn invite">Invite Someone</div>
    </div>
  </div>

</div>

<div class="popup_lobby hide">
  <div class="dialog">
    <h2>Invite Friends</h2>
    <form action="#">
      <ul>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
        <li><label><input type="checkbox"> <img src="#" alt="">Friend Name</label></li>
      </ul>
      <input type="submit" value='invite'>
    </form>
  </div>
</div>


<script>

var popup = $('.popup_lobby');
var btn = $('.btn.invite');

btn.click(showPopup);

popup.click(function(e){
  if ($(e.target).is($(this))) {
    popup.hide();
  }

});


function showPopup() {
  popup.show();
}

function hidePopup() {
  popup.hide();
}

</script>