<div class="courses">
          <div class="sect">
            <h3>Courses Enrolled in</h3>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="show_all">
              show all</div>
          </div>
          <div class="sect">
            <h3>Cousrses taken</h3>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="show_all">
              show all</div>
          </div>