<div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>