<h4>Friends <span id='amount'>(50)</span></h4>
          <div class="ul_wrap">
          <ul>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 1</a>
            </li>
          </ul>
          </div>