<h4>Friends <span id='amount'>(<%= @user.friends.count %>)</span></h4>
<div class="ul_wrap">
<ul>
<% total_friends= @user.friends.map {|f| f.connection } + @user.inverse_friends.map {|f| f.user } %>
<% total_friends.each do |f| %>
	<li>
	<%= link_to gravatar_for(f, size: 400) + f.name, f %>
	</li>
<% end %>
</ul>
</div>