<div class="cont">
  <div class="inner">
    <div class="left">
      <div class="wrap">
        <%= gravatar_for @user, size: 400 %>
        <div class="karma">
          Karma <span class="points">34k</span>
        </div>
        <div class="friends">
          <h4>Friends <span id='amount'>(50)</span></h4>
          <div class="ul_wrap">
          <ul>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 1</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 2</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 3</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 4</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 5</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 6</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 7</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 8</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 9</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 10</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 11</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 12</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 13</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 14</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 15</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 16</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 17</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 18</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 19</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 20</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 21</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 22</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 23</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 24</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 25</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 26</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 27</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 28</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 29</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 30</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 31</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 32</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 33</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 34</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 35</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 36</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 37</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 38</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 39</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 40</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 41</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 42</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 43</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 44</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 45</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 46</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 47</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 48</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 49</a>
            </li>
            <li>
              <a href=""><img src="https://secure.gravatar.com/avatar/8afd88ea8f653f95e2588769c2cfab6a?s=400" alt="" />friend 50</a>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="wrap">
        <h1><%= @user.name %></h1>
        <% unless current_user? @user %>
          <div class="contact">
            <a href="#" class="msg">Send a Message</a>
            <a href="#" class="msg">Add as a friend</a>
              <a href="#" class="msg">Invite to Event</a>
          </div>
        <% end %>
        <div class="courses">
          <div class="sect">
            <h3>Courses Enrolled in</h3>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="show_all">
              show all</div>
          </div>
          <div class="sect">
            <h3>Cousrses taken</h3>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="show_all">
              show all</div>
          </div>
                    <div class="sect">
            <h3>Events Attending</h3>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="course">
              <div class="title">Rails</div>
            </div>
            <div class="show_all">
              show all</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>