
<div class="hero">
  <h3>Go to Tech Events <span class="color">Together</span></h3>
  <input placeholder='search' class="search_bar"></input>
  <div class="search">
    <select name='options'>
      <option value='option-1'>All</option>
      <option value='option-2'>Design</option>
      <option value='option-3'>Programming</option>
    </select>
    <label id='online_only'>
      <input type="checkbox" /> Online Only</label>
   <label><input id = 'city' type="text" placeholder='City Here' /></label>
    within
 
    <select name='distance'>
      <option value='1'>1 mile</option>
      <option value='2'>2 miles</option>
      <option value='5'>5 miles</option>
      <option value='10'>10 miles</option>
      <option value='50'>50 miles</option>
    </select>
    <input type="submit" />
  <!--  <span data-current='5'  data-options="distance" class="mySelect"></span> 
    of 
    <span data-current='Brooklyn, Ny'  data-options="location" class="mySelect"></span>-->
  </div>

</div>

<div class="cont">
  <div class="events">
    <div class="event">
      <div class="title">Title eenejeje ie e ej ejegoes here</div>
      <div class="desc">this event is awesome, you should really try to join it bro, i am telling you, this is the best one around... yooooooo listen</div>
      <div class="img"></div>
      <div class="rooms">3</div>
    </div>
  </div>
  
  
  <ul class="pagination">
    <li class="active">1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
  </ul>
</div>