<div class="conta">
  <div class="hero_meet">
    <div class="title">Stackoverflow beatup day</div>
  </div>
  <div class="nav_meet">
    <ul>
      <li data-sect='about' class='active'>About</li>
      <li data-sect='lobby'>Lobby</li>
      <li data-sect='host'>Host</li>
    </ul>
  </div>
  <div class="main">
    <div class="left">
      <div class="views">
        <div id="about" class="about_view hide">
          <div class="info">
            <strong class="location">Brooklyn, Ny</strong>
            <strong class="time">2:00 am GTI</strong>
          </div>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores rem, amet est. Cupiditate hic modi iste ipsa iure iusto, nostrum necessitatibus, dolore, quae magnam quo omnis dolores illum blanditiis numquam!Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Dolores rem, amet est. Cupiditate hic modi iste ipsa iure iusto, nostrum necessitatibus, dolore, quae magnam quo omnis dolores illum blanditiis numquam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores rem, amet est.
            Cupiditate hic modi iste ipsa iure iusto, nostrum necessitatibus, dolore, quae magnam quo omnis dolores illum blanditiis numquam!
          </div>
          <div class="stats">
            <div class="ppl_going">
              <div class="num">35</div>
              <div class="txt">People Going</div>
            </div>
            <div class="last_activity">
              <div class="num">32 mins </div>
              <div class="txt">Last Activity</div>
            </div>
            <div class="comments">
              <div class="num">325</div>
              <div class="txt">Comments</div>
            </div>
          </div>

        </div>
        <div id="lobby" class="lobby_view hide">
          <div class="rooms">
            <div class="room">
              <div class="title">Let's go with techsin via suny</div>
              <div class="stat">
                <span class="open_pos">3</span> / <span class="total">5</span>
              </div>
            </div>
          </div>
        </div>
        <div id="host" class="host_view hide">
            <input type="text" class='title'/>
            <textarea name='desc' class='desc'></textarea>
            <label for='total'>Total People</label>
            <input id="total" type="number" min="1" max="20" />
            <input type="submit" value='Create Room'/>
        </div>
      </div>
      <div class="comment_sect">
        <div class="input_sect">
          <textarea rows="4" cols="100">Leave a comment</textarea>
          <input type="submit" />
        </div>
        <div class="comments">
          <div class="comment">
            <div class="user">techsin</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut expedita iure animi repudiandae. Voluptas, rerum in repellendus, cum, labore deserunt, recusandae doloribus amet error itaque architecto exercitationem ratione delectus ipsa.</div>
            <div class="time">3 days ago</div>
          </div>
        </div>
        <div class="showMore">
          Show More
        </div>
      </div>
    </div>
    <div class="right">
      <div class="related_events">
        <h4>Related Events</h4>
        <div class="events">
          <div class="event">
            <div class="img"></div>
            <div class="title">Simple title description goes here</div>
            <div class="location">Brooklyn, NY</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>