
.msg_box {
	display: none;
	position: absolute;
	height: 350px;
	width: 390px;
	border: 1px solid #2ff;
	outline: 3px solid #333;
	left: 50%;
	top: calc( 100% + 8px );
	transform: translateX(-50%);
	background-color: #333;
}

.msg_box::before {
	content: '';
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid transparent;
	border-bottom-color: #2ff;
}
.msg_btn {
	position: relative;
}



.msg_box .msg img {
	height: 50px;
	width: 50px;
	overflow: hidden;
	float: left;
}

.msg_box .msg:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.msg_box .msg {
	margin: 5px;
	padding: 8px;
	box-sizing: border-box;
	color: #fff;
	background-color: rgba(0,0,0,.3);
}
.msg_box .msg:hover {
	background-color: rgba(255,255,255,.3);
}

.msg_box .txt {
    height: 44px;
    overflow: hidden;

	width: 80%;
    padding: 0 0 0 8px;
	float: left;
	font-size: 12px;
	font-weight: 100;

}


.chat {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}
.chat .window.clone {
	display: none;
}
.chat .window {
	position: absolute;
	bottom: 0;
	right: 50px;
	width: 280px;
	font-size: 14px;
	border: 1px solid #ddd;
}
.chat .window .close{ 
	top: 0;
    position: absolute;
    right: 0;
    padding: 7px 10px;
    color: #888;
}

.chat .window .close:hover{ 
    color: #2ff;
    cursor: pointer;
}



.chat .window:hover .title  {
	box-sizing: border-box;
	border-bottom: 2px solid #2ff;
}
.chat .title {
	cursor: pointer;
	padding: 8px;
	color: #fff;
	background-color: #333;
	border: 1px solid #000;
}

.chat .msgs {
	height: 268px;
	background-color: #fff;
}
.chat .wrap {
	height: 300px;
}

.chat input[type='text'] {
	border: 1px solid #ddd;
	outline: none;
	font-size: 12px;
    padding: 8px 5px;
    width: 100%;
    box-sizing: border-box;
}