* {
  margin: 0;
  padding: 0;
}
body {
  display: inline-block;
  min-width: 100%;
  overflow: auto;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}
header {
  min-width: 1000px;
  overflow: auto;
  background-color: #222;
}

header .logo {
  float: left;
  padding: 9px;
  margin: 9px;
  box-sizing: border-box;
  border: 2px solid #2ff;
  color: #fff;
}

header .logo a{
  font-size: 20px;
}
header nav {
  float: left;
}
header #user {
  float: right;
}
header li {
  display: inline-block;
}
header a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  
  display: inline-block;
}

nav li a {
  padding: 20px;
}

.cont {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}
.cont .inner {
  min-height: 500px;
  background-color: #fff;
}
.inner {
  display: table;
  width: 100%;
}
.inner .left,
.inner .right {
  display: table-cell;
}
.inner .left {
  width: 30%;
  background-color: #333;
  height: 1px;
}
.inner .left .wrap {
  margin: 20px;
  height: calc( 100% - 40px);
}
.inner .left img {
  box-sizing: border-box;
  border: 3px solid #2ff ;
  width: 100%;
}
.inner .left .karma {
  text-align: center;
  color: #eee;
  font-weight: 100;
  padding: 15px;
  position: relative;
  border: 4px solid #2ff;
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  line-height: 130px;
}
.inner .left .karma .points {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #2ff;
  font-weight: 600;
  font-size: 27px;
}
.inner .left .friends {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  height: calc(100% - 440px);
}
.inner .left .friends h4 {
  margin-bottom: 8px;
}
.inner .left .friends #amount {
  font-weight: 100;
  color: #ddd;
}
.inner .left .friends .ul_wrap {
  height: 500px;
  overflow: auto;
}
.inner .left .friends li {
  list-style-type: none;
  padding: 10px 0;
  font-weight: 100;
  vertical-align: top;
  transition: background .5s;
  padding: 5px;
  margin-bottom: 5px;
}
.inner .left .friends li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.inner .left .friends a {
  text-decoration: none;
  color: #fff;
}
.inner .left .friends img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  vertical-align: middle;
}
.inner .right {
  vertical-align: top;
}
.inner .right .wrap {
  margin: 20px;
}
.inner .right .contact {
  margin-top: 7px;
}
.inner .right .contact a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  font-weight: 100;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 2px;
}
.inner .right .sect:not(:first-of-type) {
  margin-top: 19px;
}
.inner .right .courses {
  margin-top: 20px;
}
.inner .right .courses .show_all {
  width: 100px;
  padding: 20px;
  margin: 15px auto;
  background-color: #333;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}
.inner .right .courses h3 {
  font-weight: 600;
}
.inner .right .courses .course {
  background-color: #eee;
  box-sizing: border-box;
  padding: 16px;
  margin-bottom: 5px;
}
.inner .right .courses .course:first-of-type {
  margin-top: 20px;
}


header #login {
  color: #fff;
  float: right;
  padding: 17px;
}
header #login label {
  font-weight: 100;
  color: #ddd;
  margin-right: 5px;
}
header #login input {
  font-weight: 100;
  margin-left: 5px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 300;
  letter-spacing: .4px;
}
header #login input:active,
header #login input:focus {
  background-color: #fff;
  color: #000;
}
header #login input[type='submit'] {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  padding: 10px;
}
.cont {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}
.cont .inner {
  min-height: 500px;
  background-color: #fff;
}
.inner {
  display: table;
  width: 100%;
}
.hero {
  background-color: #222;
  height: 564px;
  position: relative;
}
.hero .right {
  /* border-left: 1px solid #333; */
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(0%, -50%);
}
.hero .right .signupPrompt {
  background-color: #111;
  padding: 20px;
  text-align: center;
  color: #fff;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.hero .right:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top, #22ffff 0%, #22ffff 29%, #333333 80%);
}
.hero .right form {
  width: 400px;
  margin: auto;
  color: #fff;
  overflow: auto;
  padding: 20px;
  margin-top: 50px;
}
.hero .right form input[type='submit'] {
  font-size: 15px;
  padding: 20px;
  border: none;
  cursor: pointer;
  background-color: #2ff;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  width: 200px;
}
.hero .right form > label {
  display: block;
  padding: 9px 5px;
  margin: 10px 0;
  position: relative;
}
.hero .right form > label input {
  font-size: 18px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  padding: 8px;
}
.hero .circle,
.hero .bord {
  transition: top .3s;
}
.hero .circle {
  z-index: 1;
  border: 5px solid #2ff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 200px;
  background-color: #000;
  border-radius: 1000px;
  color: #2ff;
  font-size: 1.6rem;
  box-shadow: 0 0 50px rgba(34, 255, 255, 0.8);
}
.hero .circle .msg::after {
  content: '';
  display: inline-block;
  width: 2px;
  background-color: #2ff;
  height: 30px;
  animation: blink .4s infinite alternate;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.center {
  text-align: center;
}
.hide {
  display: none;
}
.bord {
  animation: rotate 20s infinite linear;
  height: 300px;
  padding: 20px;
  position: absolute;
  width: 40px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.bord .cir {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 240px;
  background-color: #2ff;
  border-radius: 1000px;
}
header {
  border-bottom: 1px solid #191919;
}
.hero .left {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 60px;
}
.hero .left h1 {
  color: #fff;
}
.hero .left h4 {
  color: #2ff;
  font-weight: 400;
  margin-top: 30px;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.cont {
 width: 1000px;
 margin: auto;
 box-sizing: border-box;
 padding: 40px;
 padding-top: 150px;
 min-height: 400px;
 margin-bottom: 100px;
}

.features .feature .img {
 height: 200px;
 width: 200px;
 background-color: #ddd;
 float: left;
}

.feature {
 overflow: auto;
}

.feature {
 margin: 30px 0;
}

.feature:first-of-type {
 margin-top: 0;
}
.features .feature:nth-child(even) .img {
 float: right;
}

.features .feature .desc {
 float: right;
 width: 700px;
 margin-top: 50px;
}



* {
  margin: 0;
  padding: 0;
}
.abs_center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
body {
  display: inline-block;
  min-width: 100%;
  overflow: auto;
  background-color: #E4E4E4;
  font-family: 'Open Sans', sans-serif;
}


/* Header start */
header {
  min-width: 1000px;
  overflow: auto;
  background-color: #222;
}
header .logo {
  float: left;
  padding: 9px;
  margin: 9px;
  box-sizing: border-box;
  border: 2px solid #2ff;
  color: #fff;
}
header #login {
  color: #fff;
  float: right;
  padding: 17px;
}
header #login label {
  font-weight: 100;
  color: #ddd;
  margin-right: 5px;
}
header #login input {
  font-weight: 100;
  margin-left: 5px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: 300;
  letter-spacing: .4px;
}
header #login input:active,
header #login input:focus {
  background-color: #fff;
  color: #000;
}
header #login input[type='submit'] {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  padding: 10px;
}
/* Header end */

.hero  {
  height: 464px;
  background-color: #1A1F27;
  position: relative;
}

.hero h3 .color {
  color: #2ff;
}
.hero h3 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  width: 700px;
  text-align: center;
}

.hero .search {
  color: #fff;
  padding: 29px;
  background-color: #333;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 720px;
  transform: translate(-50%,-50%);
}

.hero .search select {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}


.hero #online_only {
  color: #fff;
  margin: 0 10px;
}

.hero #online_only  input {
  position: relative; 
  top: -2px;
}

span.mySelect {
  position: relative;
  cursor: pointer;
  margin: 0 7px;
  color: #2ff;
  border-bottom: 1px dashed #ddd;
}

.hover_menu {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0 );
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  display: none;
}

.hover_menu > div {
  white-space: nowrap;
  padding: 6px;
}

.hover_menu > div:hover  {
  background-color: #333;
}

.search select[name='distance'] {
  margin-left: 10px;
}

.search input[type='text'] {
  padding: 8px;
  font-size: 15px;
  outline-color: #2ff;
  margin: 0 10px;
}
.search input[type='submit'] {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #299;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
}
.cont {
  width: 1000px;
  margin: auto;
}
.events {
  font-size: 0;
  border-top: 2px solid #2ff;
  margin-top: 100px;
}

.event {
  overflow: hidden;
  display: inline-block;
  width: 291px;
  margin: 20px;
  border: 1px solid #ddd;
  height: 300px;
  color: #fff;
  background-color: #fff;
  position: relative;
}
.event > * {
  position: relative;
  z-index: 2;
  font-size: 1rem;
}
.event .img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  z-index:0;
}
.event .desc {
  padding: 15px;
  background-color: rgba(0,0,0,.4);
  text-overflow: ellipsis;
  max-height: 140px;
  overflow: hidden;
}
.event .title {
  margin-top: 245px;
  padding: 10px;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.4);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 22px;
  transition: margin .5s;
}

.event:hover .title {
  margin-top: 135px;
}

.event .rooms {
  background-color: rgba(0,0,0,.4);
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  border-radius: 1000px;
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: transform .4s,opacity .4s;
}
.event:hover  .rooms {
  transform: translate(-50%,-50%) scale(1.5,1.5);
  opacity: 0;
  background-color: #2ff;
}

.pagination {
  text-align: center;
}

.pagination li {
  display: inline-block;
  padding: 10px;
  margin: 15px;
}


.pagination li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pagination li.active {
  display: inline-block;
  padding: 10px;
  margin: 15px;
  background-color: #fff;
  border: 1px solid #2ff;
}
input.search_bar {
    position: absolute;
    left: 50%;
    top: 310px;
    font-size: 1.4rem;
    transform: translateX(-50%);
    font-weight: 1fs00;
    padding: 10px;
    width: 290px;
    background-color: rgba(0,0,0,.1);
    border: 1px solid #2ff;
    color: #fff;
    outline: none;
  
}


/* --- Notification Box --- */

.notification_box {
    display: none;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.notification_box .user {
    padding: 9px;
    margin: 11px;
    border-radius: 3px;
    overflow: auto;
    border: 1px solid #aaa;
    line-height: 35px;
}

.notification_box .img {
    height: 35px;
    width: 35px;
    background-color: #000;
    overflow: hidden;
}

.notification_box .name a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.notification_box .name {
    margin-left: 6px;
}

.notification_box .img,
.notification_box .name {
    float: left;
}

.notification_box .btns input {
    background-color: #F55F4E;
    padding: 8px 9px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    color: #fff;
}

.notification_box .btns > div:last-of-type input {
    background-color: #DEDEDE;
    color: #000;
}

.notification_box .btns {
    margin-right: 6px;
    float: right;
}

.notification_box .btns > div {
    display: inline-block;
}



