

.conta .main {
  overflow: auto;
}

.conta .main .left, .conta .main .right {
  min-height: 700px;
}

.conta .main .left {
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding: 25px;
}
.right .related_events .events {
  padding-top: 10px;
}
.right .related_events .event {
  height: 150px;
  margin-bottom: 30px;
  position: relative;
}
.right .related_events .event > * {
  z-index: 10;
  position: relative;
}
.right .related_events .event .img {
  z-index: 1;
  background-color: #333;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.right .related_events .event .title {
  background-color: rgba(0,0,0,.4);  
  padding: 8px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.right .related_events .event .location {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  color: #fff;
  background-color: #333;
  width: 100%;
  box-sizing: border-box;
}

.right .related_events .event:hover {
  outline: 1px solid #2ff;
}
.conta .main .right {
  
  
  padding: 25px;
  float: right;
  width: 30%;
  background-color: #fff;
  border-left: 1px solid  #ddd;
  box-sizing: border-box;
}  
.left .about_view .info {
  margin-bottom: 40px;
}
.main .left .stats {
  text-align: center;
  margin-top: 100px;
  border-top: 1px solid #aaa;
  padding-top: 80px;
}
.main .left .stats > * {
  height: 100px;
  width: 100px;
  display: inline-block;
  width: 30%;
  text-align: center;
}

.room {
  background-color: #333;
  border: 1px solid #2ff;
  padding: 8px;
  color: #fff;
  overflow: auto;
  margin-bottom: 15px;
}
.room:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #333;
  cursor: pointer;
}

.room:hover .stat {
  color: #333;
}
.room .title {
  float: left;
  width: 500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.room .stat {
  float: right;
  color: #2ff;
}

.main .left .stats .num {
  
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 1000px;
  background-color: #333;
  color: #fff;
  border: 2px solid #2ff;
  margin: auto;
  margin-bottom: 20px;
}

.comment_sect {
  margin-top: 50px;
  padding: 15px;
  box-sizing: border-box;
}

.comment_sect textarea {
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  display: block;
  width: 100%;
}

.comment_sect input[type='submit'] {
  background-color: #333;
  color: #fff;
  float: right;
  margin: 15px 0;
  padding:  15px 20px;
  display: block;
  border: none;
}
.comment_sect .user {
  color: blue;
  margin-bottom: 10px;
}
.comment_sect .comments {
  border-top: 1px solid #888;
  margin-bottom: 50px;
  margin-top: 100px;
}

.comment_sect .comment {
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  font-size: 15px;
}

.comment_sect .time {
  font-size: 12px;
  margin-top: 10px;
}

.showMore {
  width: 110px;
  background-color: #333;
  color: #fff;
  font-weight: 100;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}

.host_view input {
  display: block;
}

.host_view .title {
  font-size: 17px;
  padding: 9px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}
.host_view .desc {
  padding: 9px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  height: 300px;
  font-size: 15px;
}

.host_view #total {
  font-size: 15px;
  padding: 8px;
  margin-bottom: 20px;
}

.host_view input[type='submit'] {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px;
  text-align: center;
  width: 150px;
  background-color: #333;
  color: #fff;
  font-size: 15px;
  margin: auto;
}
.hide {
  display: none;

}