<div class="chat">
	
	<div class="window clone">	
		<div class="title">
			Username of Other User
		</div>
		<div class="close">x</div>
		<div class="wrap">
			<div class="msgs"></div>
			<input type="text">
		</div>
	</div>
</div>